<section class="block block--dark block--skewed-right block--showcase">
  <header class="block__header">
    <h2>User-Friendly controle panel</h2>
  </header>
  <div class="container grid grid--1x2">
    <picture class="showcase_images">
      <source
        type="image/webp"
        srcset="images/ipad@1x.webp 1x, images/ipad@2x.webp 2x"
      />
      <source
        type="image/png"
        srcset="images/ipad@1x.png 1x, images/ipad@2x.png 2x"
      />
      <img src="images/ipad@1x.png" alt="" />
    </picture>
    <ul class="list">
      <li>
        <div class="media">
          <div class="media_image">
            <svg class="icon icon--primary">
              <use xlink:href="images/sprite.svg#snap"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title">Easy Start & Managed Updates</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum sed
              rerum aliquid enim aperiam adipisci quidem voluptatibus
              voluptatem, a officia!
            </p>
          </div>
        </div>
      </li>
      <li>
        <div class="media">
          <div class="media_image">
            <svg class="icon icon--primary">
              <use xlink:href="images/sprite.svg#snap"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title">Easy Start & Managed Updates</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum sed
              rerum aliquid enim aperiam adipisci quidem voluptatibus
              voluptatem, a officia!
            </p>
          </div>
        </div>
      </li>
      <li>
        <div class="media">
          <div class="media_image">
            <svg class="icon icon--primary">
              <use xlink:href="images/sprite.svg#snap"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title">Easy Start & Managed Updates</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum sed
              rerum aliquid enim aperiam adipisci quidem voluptatibus
              voluptatem, a officia!
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
